<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/D95XgcsxOf4" title="YouTube video player" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<h5>Proyecto dirigido, producido, editado, copiado, reescrito, laburado y modificado por: </h5>
<ul>Eric Ruiz Flores lopez</ul>
<ul>Jose Armando Olivares Perez</ul>
<ul>Diego Espinoza Ventura</ul>
<ul>Guillermo Isaac Rodriguez Murillo</ul>
<p>
<img src="../../assets/img/papu.gif" alt="Funny image">
</p>